form {
    color: mediumpurple;
    text-align: center;
    font-weight: bold;
    border: 1px solid darkcyan;
    background: whitesmoke;
    border-radius: 3px;

}

input.login .register{
    width: 6%;
    cursor: pointer;
}